/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  filter:contrast(1.5);
  background: url(assets/images/fast-copy.gif) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.main-wrapper {
  filter: contrast(0.8);
  background: url(assets/images/books.png);
  background-size: cover;
  width: 97vw;
  height: 100vh;
  margin: auto;
  overflow: scroll;
}

.nav-container {
  background: url(assets/images/bit_backdrop.jpg);
  background-size: contain;
  position: fixed;
  top: 0vh;
  height: 13vh;
  width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 10vh 10vh;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  z-index: 1;
  border: 4px solid #010006;
}

.main-wrapper {
  filter: contrast(0.8);
  background: url(assets/images/books.png);
  background-size: cover;
  width: 97vw;
  height: 100vh;
  margin: auto;
  overflow: scroll;
}

.nav-footer{
      background: url(assets/images/bit_backdrop.jpg);
      background-size: contain;
      position: fixed;
      left: 0;
      bottom: 0;
      height: 9%;
      width: 100vw;
      margin: 0 auto;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4,1fr);
      z-index: 1;
      border: 3px solid #7163ea;
      border-radius: 3px;
    }
/* MOBILE PORTRAIT */
@media (min-width: 319px) {

  .nav-container {
   background: url(assets/images/bit_backdrop.jpg);
   background-size: contain;
   position: fixed;
   top: 0vh;
   height: 9vh;
   width: 100vw;
   margin: 0 auto;
   display: grid;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: repeat(4,1fr);
   z-index: 1;
   border: 3px solid #7163ea;
   border-radius: 3px;
     }
    .nav-link-top {
    padding-top: 0.3vh;
    font-family: 'Gorditas';
    position: relative;
    background-color: #ffc10778;
    height: auto;
    font-size: 9pt;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #00a1ff54;
    }

    .highlights-wrapper {
      position: relative;
      top: 21vh;
      display: grid;
      grid-template-rows: auto;
      grid-gap: 2vh;
    }
    .highlights-container {
      width: 61vw;
      height: 21vh;
      margin: 0 auto;
      border: 4px solid black;
      background-color: white;
    }

    .highlights-container-wide {
      width: 80vw;
      height: 21vh;
      margin: 0 auto;
      border: 4px solid black;
      background-color: white;
    }

    .highlight-title{
      background-color: yellow;
      padding-bottom: 1vh;
    }

    .highlight-blurb {

    }

    .highlight-blurb{

    }

    .highlights-container.one {
    }

    .highlights-container.two {
    }
    .empty-spacer {
      height: 20vh;
      width: 100vw;
    }

		.extra-content-wrapper {
			width: 97vw;
      height: 95vh;
      border: 3px solid red;
			display: grid;
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: repeat(2,1fr);
			grid-gap: 3vw;
		}
		.extra-item-one {
			background-color: #65f3f3;
      border: 2px solid;
		}

		.extra-item-two {
			background-color: #FFC107;
      border: 2px solid;
      height: 211%;
      width: 70%;
      grid-column-start: span 2;
      position: relative;
      left: 16vw;
		}

		.extra-item-three {
			background-color: #65f3f3;
      border: 2px solid;
			grid-row-start: 4;
		}

    .nav-footer{
      /* top:79vh; */
    }
    /* .nav-link-top:hover {
         color: white;
    } */

/* - - - - - HEART MENU - - - -  */
    .heart-grid {
      position: relative;
      top: 22vh;
      margin: 0 auto;
      width: 59%;
      /* border: 1px solid crimson; */
    }
    .heart-grid:after{
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    .main-heart {
      filter: contrast(1.5) drop-shadow(1px 4px 14px chartreuse);
      position: absolute;
      /* border: 1px solid; */
      width: 100%;
      height: 79%;
    }

    .heart-text-hobbies {
      text-decoration: none;
      position: absolute;
      left: 95%;
      top: 5%;
      font-family: 'gorditas';
      font-size: 13pt;
      -webkit-text-stroke: 1px #00fd08;
      color: black;
    }

    .heart-text-editing {
      text-decoration: none;
      position: absolute;
      /* width: 23%; */
      left: -26%;
      top: -7%;
      font-family: 'gorditas';
      font-size: 13pt;
      -webkit-text-stroke: 1px #00fd08;
      color: black;
      font-style: italic;
    }

    .heart-text-direction {
      text-decoration: none;
      position: absolute;
      left: -28%;
      width: 0px;
      top: 42%;
      font-family: 'gorditas';
      font-size: 13pt;
      -webkit-text-stroke: 1px #00fd08;
      color: black;
      font-style: italic;
    }

    .heart-text-journal {
      text-decoration: none;
      position: absolute;
      left: -36%;
      top: 19%;
      font-family: 'gorditas';
      font-size: 13pt;
      -webkit-text-stroke: 1px #00fd08;
      color: black;
      font-style: italic;
    }
    .heart-text-styling {
      text-decoration: none;
      position: absolute;
      left: 86%;
      width: 50%;
      top: 44%;
      font-family: 'gorditas';
      font-size: 13pt;
      -webkit-text-stroke: 1px #00fd08;
      color: black;
      font-style: italic;
    }

     .heart-text-friends {
       text-decoration: none;
       position: absolute;
       left: 30%;
       top: 41%;
       font-family: 'gorditas';
       font-size: 13pt;
       -webkit-text-stroke: 1px #00fd08;
       color: black;
       font-style: italic;
     }

     .heart-text-foods {
       text-decoration: none;
       width: 0;
       position: absolute;
       left: 41%;
       top: 18%;
       font-family: 'gorditas';
       font-size: 12pt;
       -webkit-text-stroke: 1px #00fd08;
       color: black;
       font-style: italic;
     }

     .heart-text-mood {
       text-decoration: none;
       position: absolute;
       left: 14%;
       top: 77%;
       font-family: 'gorditas';
       font-size: 12pt;
       -webkit-text-stroke: 1px #00fd08;
       color: black;
       font-style: italic;
     }
/* - - - - - END : HEART MENU - - - -  */

    .nav-footer{
      background: url(assets/images/bit_backdrop.jpg);
      background-size: contain;
      position:fixed;
      left:0px;
      bottom:0px;
      /* position: fixed;
      top: 79vh; */
      height: 9%;
      width: 100vw;
      margin: 0 auto;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4,1fr);
      z-index: 1;
      border: 3px solid #7163ea;
      border-radius: 3px;
    }
}

/* MOBILE LANDSCAPE */
@media (min-width: 567px) {
  .nav-container {
        height: auto;
  }
  .heart-grid {
      width: 51%;
  }
  .heart-item {
    font-size: 20pt;
  }
  .heart-text-editing {
    top: -2%;
  }
  .heart-text-journal {
    left:-23%;
  }
  .heart-text-direction {
    left:-14%;
  }
  .heart-text-styling {
    left:80%;
    top: 52%;
  }
  .heart-text-friends {
    left:36%;
  }
  .heart-text-foods {
    left: 53%;
    top: 18%;
  }

  .highlights-container {
    height: 35vh;
  }

  .highlights-container-wide {
    height: 35vh;
  }
  .nav-footer {
    /* top: 93vh;
    height: auto; */
  }
}


/* TABLET PORTAIT */
@media (min-width: 767px) {
   .nav-link-top {
     font-size: 17pt;
     padding-top: 1.5vh;
   }
   .heart-grid {
    width: 66%;
   }
}


@media (min-width: 800px) {

   .heart-grid {
    width: 50%;
   }
   .heart-item {
     font-size: 24pt;
   }
}


/* .highlights-container {
  width: 95vw;
  height: 50vh;
  border: 4px solid #da00ff;
} */

@media (min-width: 920px) {
  .heart-grid {
    width: 40%;
  }
}
/* - - - - - - - - */
/* .marquee {
            height: 50px;
            overflow: hidden;
            position: relative;
            background: #fefefe;
            color: #333;
            border: 1px solid #4a4a4a;
        }

        .marquee p {
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            line-height: 50px;
            text-align: center;
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            -moz-animation: scroll-left 2s linear infinite;
            -webkit-animation: scroll-left 2s linear infinite;
            animation: scroll-left 20s linear infinite;
        }

        @-moz-keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
            }
        }

        @-webkit-keyframes scroll-left {
            0% {
                -webkit-transform: translateX(100%);
            }
            100% {
                -webkit-transform: translateX(-100%);
            }
        }

        @keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            }
        } */
/* - - - - - - - - */
