/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}


@media (min-width: 319px) {
	.martini {
	  width: 100px;
	}
	.page-wrapper{
		background-image: url(ants12.gif);
    height: 100vh;
    width: 100vw;
	}
	.nav-container {
		background: url(../assets/images/bit_backdrop.jpg);
		background-size: contain;
		position: fixed;
		top: 0vh;
		height: 9vh;
		width: 100vw;
		margin: 0 auto;
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: repeat(4,1fr);
		z-index: 1;
		border: 3px solid #7163ea;
		border-radius: 3px;
	}
	.nav-link-top {
		padding-top: 0.3vh;
		font-family: 'Gorditas';
		position: relative;
		background-color: #ffc10778;
		height: auto;
		font-size: 9pt;
		text-align: center;
		vertical-align: middle;
		border: 2px solid #00a1ff54;
	}
	.view-container {

	}

	.nav-footer{
	   background: url(../assets/images/bit_backdrop.jpg);
	   background-size: contain;
	   position: fixed;
	   left: 0;
	   bottom: 0;
	   height: auto;;
	   width: 100vw;
	   margin: 0 auto;
	   display: grid;
	   grid-template-rows: 1fr;
	   grid-template-columns: repeat(4,1fr);
	   z-index: 1;
	   border: 3px solid #7163ea;
	   border-radius: 3px;
	}
	.header-main {
		font-family: Gorditas;
		position: relative;
		width: 100vw;
		top: 11vh;
		text-align: center;
		font-size: 29pt;
		color: white;
    text-shadow: 0px 0px 4px #4d00ff;
	}
	.view-container{
		width: 100vw;
    height: 50vh;
    border: 2px solid red;
    position: relative;
    top: 19vh;
		display: grid;
    grid-template-columns:  1fr 80% 1fr;
	}
	#left-button {
		position: relative;
    top: 46%;
    font-size: 18pt;
    color: #f403b2;
    height: 5vh;
    text-align: center;
		box-shadow: 0px 0px 5px black;
	}
	#right-button {
		position: relative;
    top: 46%;
    font-size: 18pt;
    color: #f403b2;
    height: 5vh;
    text-align: center;
		box-shadow: 0px 0px 5px black;
	}
	#content-container{

	}

	.image-1 {
		/* display: none; */
		width: 98%;
    margin: 1px 3px;
	}

	.image-2 {
		display: none;
		position: relative;
		top: 17%;
    width: 98%;
    margin: 1px 3px;
	}

	.image-3 {
		display: none;
		width: 98%;
    margin: 1px 3px;
	}


	.header-home {
		font-family: Gorditas;
		position: relative;
		top: 26vh;
		width: 100vw;
		text-align: center;
		font-size: 29pt;
		color: white;
    text-shadow: 0px 0px 4px #4d00ff;
	}

	.ants {
		height: 100vh;
		position: absolute;
		/* border: 1px solid; */
	}
}

@media (min-width: 567px) {
	.page-wrapper{
		background-image: url(ants11.gif);
	}
  .nav-container {
        height: auto;
  }
	.header-main {
    top: 14vh;
	}
	.header-home {
		top: 17vh;
	}
	.view-container {
		top: 15vh;
	}
	#left-button {
		box-shadow: none;
	}
	#right-button {
		box-shadow: none;
	}
}

@media (min-width: 767px) {
	.page-wrapper{
		background: url(ants12.gif) no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	}
	.header-main {
		top: 9vh;
    font-size: 49pt;
	}
	.nav-link-top {
		font-size: 17pt;
	}
	.header-home {
		top: 24vh;
		font-size: 49pt;
	}
	.martini {
	  width: 200px;
	}
}

@media (min-width: 811px) {
	.page-wrapper{
		background-image: url(ants11.gif);
	}
	.header-main {
		font-size: 20pt;
    top: 17vh;
	}
	.header-home {
		font-size: 20pt;
		top: 20vh;
	}

	.view-container {
		top: 19vh;
	}
	.nav-footer{
		height: 7vh;
	}
}

@media (min-height: 900px) {
	.page-wrapper{
		background-image: url(ants11.gif);
	}
	.header-main {
		font-size: 35pt;
		top: 11vh;
	}
	.header-home {
		font-size: 35pt;
		top: 26vh;
	}
}

@media (min-width: 1000px) {
	.page-wrapper{
		background-image: url(ants11.gif);
		background-size: contain;
	}
	.header-main {
		font-size: 35pt;
		top: 11vh;
	}
	.header-home {
		font-size: 35pt;
		top: 26vh;
	}
}



 /* - - - - - - - - - - - - */

/* .martini {
  width: 100px;
} */

.martini {
/* Adjust animation duration to change the element’s speed */
  animation: fly 50s linear infinite;
  pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}
