
@media (min-width: 319px) {
  .page-container {
    height: 100vh;
    width: 100vw;
    background-image: url(camz6.gif);
  }
  header {
    line-height: 7vh;
    font-family: Gorditas;
    color: #34587f;
    font-size: 20pt;
    text-align: center;
    height: 7vh;
    background-color: #00ffa3;
    text-shadow: 0px 0px 4px white;
    /* animation:blinkingText 1.2s infinite; */
  }

  .content-grid {
    position: relative;
    top: 0vh;
    border: 4px solid #040404;
    width: 100vw;
    height: 82vh;
    background: linear-gradient(0deg, rgba(121,242,244,0.7) 0%, rgba(255,255,255,1.5) 100%);
    overflow: scroll;
    display: grid;
    grid-auto-rows: 3em;
    grid-gap: 1em;
  }
  .link-wrapper{
    background-color: #00ff3359;
    width: 90%;
    margin: 0.5em auto;
    display: block;
    height: 3.2em;
    overflow: scroll;
  }
  .cam-link{
    text-decoration-style: wavy;
    font-family: Metrophobic;
    color: #512DA8;
  }
  .cam-link-text{
    word-break: break-all;
    display: block;
    margin: 2% 0 0 0;
  }
  .home-button-container{
    text-align: center;
    position: fixed;
    bottom: 4px;
    width: 98vw;
  }

  .home-button {
    width: 100px;
    filter: saturate(2.5) brightness(1.3) hue-rotate(179deg);
    margin: 0 33.8%;
  }

}

@media (min-width: 374px) {
  .home-button {
    width: 127px;
  }
}

@media screen and (min-width:750px) and (min-height: 750px){
  .cam-link-text {
    margin: 1% 0 0 0;
  }
  .content-grid{
    grid-auto-rows: 8%;
    grid-gap: 2.5%;
  }
}