html {
    height: 100%;
    width: 100%;
}

@media screen and (min-width:320px) {    
    body {  
        /* border: 4px solid blue; */
        height: 100%;
        width: 100%;   
    }
    header {
        position: fixed;
        text-align: center;
        font-size: 3em;
        width: 100%;
        font-family: sans-serif;
        color: #ff000059;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }

    .wrapper {
        background: url(weeds.jpg) no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
        overflow: scroll;
    }

    .vanderpump {
        height: 40em;
        filter: drop-shadow(0px 0px 3px white)
    }

     .home-link {
        width: 18%;
        position: fixed;
        bottom: 0px;
        left: 41%;
    } 
}

 @media screen and (min-width:568px) {
    .home-link {
        width: 10%;
        left: 46%;
    }
}

@media screen and (min-width:900px) {
    .home-link {
        width: 8%;
    }
    header {
        font-size: 5em;
    }
    .vanderpump {
        height: 130%;
    }
}

@media screen and (min-width:1700px) {
    .home-link {
        width: 8%;
        left: 47%;
    }
}

@media screen and (min-width:2200px) {
    .home-link {
        width: 6%;
        left: 47%;
    }
}




