/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}
body {
	background: linear-gradient(270deg, #000202, #000202, #2afa04, #000000, #000000);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;

}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.main-wrapper {
  height: 100vh;
	width: 100vw;
	background: url(studio_set3.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  overflow: scroll;
	display: grid;
  grid-template-rows: 15vh 5vh auto 8vh auto 3vh;
	grid-gap: 2vh;
}

.glass-heart {
	height: 15vh;
  filter: saturate(1.5);
}

.header-text {
	text-align: center;
	font-size: 21pt;
  font-family: 'Metrophobic', sans-serif;
  color: #03037b;
  text-shadow: 0 2px 2px #bcfd00, 0 -2px 9px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

@media (min-width: 319px) {
  .bullet-point-container {
		height: 37vh;
    width: 90vw;
    background: #ffffff7a;
    margin: 0 auto;
    border: 4px solid black;
		display: grid;
    grid-template-rows: repeat(12,6.5vh);
		overflow: scroll;
	}
	.fade-ground {
		width: 100%;
    height: 9vw;
    filter: brightness(2.5);
	}
	.bullet-text {
		margin: 1vh;
		font-family: 'Arimo', sans-serif;
    text-shadow: 2px 2px 4px #87ff04;
	}
	.bullet-link {
	 color: white;
	 text-decoration: none;

	}
	.divider {
		font-size: 23pt;
    line-height: 5vh;
		color: white;
    text-align: center;
    text-shadow: 0px 0px 12px #87ff04;
	}
	.image-viewer {
		/* position: relative;
    top: 8vh; */
    height: 50vh;
    width: 90vw;
    border: 4px solid;
    margin: 0 auto;
    background: #ffffff7a;
	}
	.image-header {
		position: relative;
    top: 4vh;
		text-align: center;
  	font-size: 14pt;
    font-family: 'Metrophobic', sans-serif;
    color: #03037b;
    text-shadow: 0 2px 2px #bcfd00, 0 -2px 9px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
	}

	.divider-overstock {
		font-size: 16pt;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 12px #87ff04;
	}

	.overstock-container {
		position: relative;
		top: 2vh;
		border: 4px solid;
    margin: 0 auto;
    width: 90vw;
    height: 50vh;
    background: #ffffff47;
		display: grid;
		grid-template-rows: 7vh;
		overflow: scroll;
	}

	.overstock-link {
		color: chartreuse;
    text-shadow: 0px 0px 12px #87ff04;
    margin: 1vw;
    text-align: center;
	}
	.space-div{
		height: 22vw;
	}
}

/* MOBILE -LANDSCAPE */
 @media (min-width: 567px) {
	 .main-wrapper{
		 grid-template-rows: 12vh 11vh auto 8vh auto 6vh;
	 }
}
 /* - - - - - - - - - - - - */
/* TABLET PORTRAIT */

@media (min-width: 767px) {
	.header-text{
		font-size: 40pt;
	}
	.bullet-text {
		font-size: 22pt;
	}
	.overstock-link	{
		font-size: 18pt;
	}
}

@media (min-width: 767px) {

}
